<div class="col-10 offset-1 about">
    <h1>About splurty</h1>
 <p> 
   This App was built by <a target="_blank" href="https://github.com/pomunyidde/TSK">Peter</a> . A Web devoloper who is on a mission to build online content for sports brands and turn goals and objectives into reality.
  </p>
  </br>
  
  <p>
  If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com">here</a>
  </p>
  
  <div class="row">
      <div class="col-12 col-sm-4">
        <%= image_tag 'peter.jpg', class: 'img-fluid' %>
      </div> 
      
      <div class="col-12 col-sm-7 offset-sm-1">
         <h2 class="text-center"> Peter Omunyidde</h2>
         </br>
         <p>
     Peter Omunyidde is a web developer and an Administrator at the American Council on Education (<a target="_blank" href="http://www.acenet.edu/">ACE</a>). Peter started playing soccer at the age of 7 and played througth college. Its at college he got spotted and signed a professional contract with Simba Footbal Club Uganda. Two years ago he moved permanently to Washington DC most recently joined Aegean Hawks FC an American soccer team which plays in the Washington Premier League.
         </p>
        </div>
       </div>
         <br class="clear" />
         
     
<br />
<br />
<br />
<br />
            