<div class="col-10 offset-1 about">
    <h1>About splurty</h1>
 <p> 
   This App was built by <a target="_blank" href="https://github.com/MarcoMorawec">Marco</a> & <a target="_blank" href="http://github.com/KenMazaika">Ken</a>. Two Web devolopers who are on a mission to give people the technical skills needed to launch their own MVP's and turn ideas into reality.
  </p>
  </br>
  <p>
  Together they taught hundreds of students how to code and build products people want at places like Havard Business School.
  </p>
  <p>
  If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com">here</a>
  </p>
  
  <div class="row">
      <div class="col-12 col-sm-4">
        <%= image_tag 'Paul.jpg', class: 'img-fluid' %>
      </div> 
      
      <div class="col-12 col-sm-7 offset-sm-1">
         <h2 class="text-center"> Marco Morawec</h2>
         </br>
         <p>
     Marco Morawec is a web developer and user expirience product manager. He consulted Fortune 500 companies like P&G and John Deere, Won Boston's biggest Hackathon (<a target="_blank" href="http://www.angelhack.com/">Angelhack</a>) and most recently led the user expirience for <a target="_blank" href="https://www.peertransfer.com/">peerTransfer</a>, building a $500m/year international tuition payment platform. In an early Life, he travelled around the world on <a target="_blank" href="http://25dollartravel.com">$25/day</a> for the entire year.
         </p>
        </div>
       </div>
         <br class="clear" />
         
      <div class="row">
        <div class="col-12 col-sm-4" style="padding-top:30px;">
            <%= image_tag 'Paul.jpg', class: 'img-fluid' %>
        </div>
       <div class="col-12 col-sm-7 offset-sm-1">
          <h2 class="text-center">Ken Mazaika</h2>
          <br />
          <p>
         Ken Mazaika is a web developer and Ruby on rails contributer. Previously he was tech lead at Where.com (<a target="_blank" href="http://bostinno.streetwise.co/2011/04/13/nearbuys-where-rolls-out-daily-deals/">acquired by PayPal</a>) and a member of the PayPal/eBay development team in Boston. In a previous life he turned a <a target="_blank" href="http://yourfreequotes.com/">health insurance quotes generator</a> from a $400/day web application into a $40,000/day business.
      </p>
      </div>
  </div>
  
</div>  
<br class="clear" />
<br />
<br />
<br />
<br />
            